// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here

// Colors
$primary: #FFBC00;
$primary-500: #DFA503;
$secondary: black;
$secondary-500: #161616;
$secondary-300: #3f3f3f;
$secondary-200: #67686a;

// Viewports
$xl: 1200px;
$lg: 992px;
$md: 768px;
$sm: 576px;

body {
	font-size: 18px;
	font-family: "Roboto", sans-serif;
	background: $secondary;
	color: white;
	min-height: 8000px;
}

.top-header {
	background: $secondary;
	height: 115px;
	@media (max-width: $md) {
		height: auto;
		padding-top: 30px;
		padding-bottom: 45px;
	}
	display: flex;
	align-items: center;
	background-image: url(../image/header-top-bg.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

	.top-header-contact {
		display: flex;
		justify-content: flex-end;

		@media (max-width: $md) {
			justify-content: space-between;
		}

		.mobile-menu-dropdown {

			display: none;

			@media (max-width: $md) {
				display: block;
			}

			button {
				font-weight: bold;
				color: white;
				text-transform: uppercase;
				border: none;
				padding: 0.5em 1em;
				font-size: 20px;
				border-radius: 0px;
				&:hover {
					background: $secondary;
				}

				span {
					margin-right: 0.5em;
				}
			}
		}

		a {
			color: white;
			border: 1px solid $primary;
			padding: 0.5em 1em;
			margin-left: 1.5em;
			background: $secondary;
			border-radius: 1.5em;
			font-size: 20px;
			@media (max-width: $md) {
				margin-left: 0;
			}

			&.top-header-contact-email {
				@media (max-width: $xl) {
					display: none;
				}
			}

			.fa {
				color: $primary;
				margin-right: 1em;
			}
		}
	}

	.mobile-holder-logo {
		@media (max-width:$md) {
			text-align: center;
			margin-bottom: 30px;
		}
	}
}

#main-nav { //We use # when it is id instead of class
	background: $secondary-300;
	color: white;
	border-top: 2px solid $secondary-200;

	#navbarNavDropdown {
		@media (max-width: $xl) {
			padding-top: 20px;
		}
		@media (max-width: $md) {
			padding-top: 30px;
		}
	}

	.mobile-menu-dropdown {

		display: none;

		@media (max-width: $xl) {
			display: block;
		}

		@media (max-width: $md) {
			display: none;
		}

		button {
			font-weight: bold;
			color: white;
			text-transform: uppercase;
			border: none;
			border-radius: 0px;
			padding: 10px;

			&:hover {
				background: $secondary;
			}

			span {
				margin-right: 0.5em;
			}
		}
	}

	.search-input-holder {
		border: 8px solid $primary;
		border-radius: 1.5em;
		background: white;
		color: $secondary;
		padding:0 10px;
		width: 370px;
		@media (max-width: $md) {
			width: 100%;
		}
		margin-top: -35px;
		margin-bottom: -35px;
		display: flex;
		font-size: 22px;
		align-items: center;

		.title {
			margin-left: 0.5em;
			margin-right: 0.25em;
		}

		input {
			padding: 5px 0px;
			font-size: 18px;
			border: none;
			font-weight: bold;
			font-size: 22px;
			color: $secondary;
			border-radius: 4px;
			width: 75%;
			outline: none;
			&::placeholder {
				font-weight: bold;
				color: $secondary;
			}
		}
	}

	#main-menu {
		li {
			a {
				font-size: 18px;
				font-weight: bold;
				text-transform: uppercase;
				color: white;
				padding-left: 15px;
				padding-right: 15px;
			}
			&.current-menu-item {
				a {
					color: $primary;
				}
			}

			.dropdown-menu {
				@media (max-width: $md) {
					margin:0;
					padding: 0;
					margin-left: 2em;
					background: $secondary-300;
					li {
						a {
							&:hover {
								background: $secondary;
							}
						}
					}

					border: none;
				}
				background: $secondary-300;
				li {
					a {
						&:hover {
							background: $secondary;
						}
					}
				}

				border: none;
			}
		}
	}
}

.home-hero-banner-top {

	margin-top: 100px;

	.skip-bin-info-holder {
		border: 4px dashed $primary;
		border-radius: 30px;
		background: $secondary-500;
		padding: 30px;

		.title {
			font-weight: bold;
			font-size: 48px;
			.fa {
				color: $primary;
			}
		}

		.desc {
			color: $primary;
			font-size: 24px;
			font-weight: 300;
		}
	}
}
