// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here

// Colors
$primary: #FFBC00;
$primary-500: #DFA503;
$secondary: black;
$secondary-500: #161616;
$secondary-300: #3f3f3f;
$secondary-200: #67686a;

// Viewports
$xl: 1200px;
$lg: 992px;
$md: 768px;
$sm: 576px;

body {
	font-size: 18px;
	font-family: "Roboto", sans-serif;
	background: $secondary;
	color: white;
	min-height: 100%;
}

// font-family: "Just Another Hand", cursive;

.button {
	display: inline-block;
	color: white;
	border: 1px solid $primary;
	padding: 0.5em 1em;
	background: $secondary;
	border-radius: 1.5em;
	font-size: 20px;
	@media (max-width: $md) {
		margin-left: 0;
	}

	&.top-header-contact-email {
		@media (max-width: $xl) {
			display: none;
		}
	}

	.fa {
		color: $primary;
		margin-right: 1em;
	}

	transition: 0.5s ease all;
	&:hover {
		background-color:$primary;
		color: black;
		text-decoration: none;
	}
}

.top-header {
	background: $secondary;
	height: 115px;
	@media (max-width: $md) {
		height: auto;
		padding-top: 30px;
		padding-bottom: 45px;
	}
	display: flex;
	align-items: center;
	background-image: url(../image/header-top-bg.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

	.top-header-contact {
		display: flex;
		justify-content: flex-end;

		@media (max-width: $md) {
			justify-content: space-between;
		}

		.mobile-menu-dropdown {

			display: none;

			@media (max-width: $md) {
				display: block;
			}

			button {
				font-weight: bold;
				color: white;
				text-transform: uppercase;
				border: none;
				padding: 0.5em 1em;
				font-size: 20px;
				border-radius: 0px;
				&:hover {
					background: $secondary;
				}

				span {
					margin-right: 0.5em;
				}
			}
		}

		a {
			color: white;
			border: 1px solid $primary;
			padding: 0.5em 1em;
			margin-left: 1.5em;
			background: $secondary;
			border-radius: 1.5em;
			font-size: 20px;
			@media (max-width: $md) {
				margin-left: 0;
			}

			&.top-header-contact-email {
				@media (max-width: $xl) {
					display: none;
				}
			}

			.fa {
				color: $primary;
				margin-right: 1em;
			}
		}
	}

	.mobile-holder-logo {
		@media (max-width:$md) {
			text-align: center;
			margin-bottom: 30px;
		}
	}
}

#main-nav { //We use # when it is id instead of class
	background: $secondary-300;
	color: white;
	border-top: 2px solid $secondary-200;

	#navbarNavDropdown {
		@media (max-width: $xl) {
			padding-top: 20px;
		}
		@media (max-width: $md) {
			padding-top: 30px;
		}
	}

	.mobile-menu-dropdown {

		display: none;

		@media (max-width: $xl) {
			display: block;
		}

		@media (max-width: $md) {
			display: none;
		}

		button {
			font-weight: bold;
			color: white;
			text-transform: uppercase;
			border: none;
			border-radius: 0px;
			padding: 10px;

			&:hover {
				background: $secondary;
			}

			span {
				margin-right: 0.5em;
			}
		}
	}

	.search-input-holder {
		border: 8px solid $primary;
		border-radius: 1.5em;
		background: white;
		color: $secondary;
		padding:0 10px;
		width: 370px;
		@media (max-width: $md) {
			width: 100%;
		}
		margin-top: -35px;
		margin-bottom: -35px;
		display: flex;
		font-size: 22px;
		align-items: center;

		.title {
			margin-left: 0.5em;
			margin-right: 0.25em;
		}

		input {
			padding: 5px 0px;
			font-size: 18px;
			border: none;
			font-weight: bold;
			font-size: 22px;
			color: $secondary;
			border-radius: 4px;
			width: 75%;
			outline: none;
			&::placeholder {
				font-weight: bold;
				color: $secondary;
			}
		}
	}

	#main-menu {
		li {
			a {
				font-size: 18px;
				font-weight: bold;
				text-transform: uppercase;
				color: white;
				padding-left: 15px;
				padding-right: 15px;
			}
			&.current-menu-item {
				a {
					color: $primary;
				}
			}

			.dropdown-menu {
				@media (max-width: $md) {
					margin:0;
					padding: 0;
					margin-left: 2em;
					background: $secondary-300;
					li {
						a {
							&:hover {
								background: $secondary;
							}
						}
					}

					border: none;
				}
				background: $secondary-300;
				li {
					a {
						&:hover {
							background: $secondary;
						}
					}
				}

				border: none;
			}
		}
	}
}

.home-hero-banner-top {

	margin-top: 110px;
	@media (max-width: $md) {
		margin-top: 50px;
	}


	.skip-bin-info-holder {
		border: 4px dashed $primary;
		border-radius: 30px;
		background: $secondary-500;
		padding: 30px;
		@media (max-width: $md) {
			padding: 15px;
			border-radius: 15px;
		}
		position: relative;

		.title {
			font-weight: bold;
			font-size: 48px;
			@media (max-width: $md) {
				font-size: 30px;
			}
			.fa {
				color: $primary;
			}
		}

		.desc {
			color: $primary;
			font-size: 24px;
			@media (max-width: $md) {
				font-size: 18px;
			}
			font-weight: 300;
		}

		.overlay-image-arrow {
			position: absolute;
			bottom: 100%;
			left: 53%;

			@media (max-width: $lg) {
				display: none;
			}

			img {
				width: 135px;
				height: 146px;

			}
		}
	}

	.seven-day-skip-info {

		img {
			@media (max-width:$lg) {
				display: none;
			}
		}

		.title {
			display: none;
			@media (max-width:$lg) {
				display: block;
			}
			color: $primary;
			font-size: 36px;
			font-family: "Just Another Hand", cursive;
			margin-top: 15px;
		}
	}

	.home-hero-slider {

		margin-top: 50px;
		border-radius: 30px;
		overflow: hidden;
		margin-bottom: -110px;
		position: relative;
		@media (max-width: $md) {
			margin-bottom: -175px;
			margin-top: 15px;
		}
		z-index: 500;
		.slide {

			.image {
				height: 420px;
				background: red;
				background-image: url(../image/page-placeholder.svg);
				background-size: cover;
				background-position: center;
				background-repeat: no-repeat;
				@media (max-width: $lg) {
					height: 320px;
				}
				@media (max-width: $md) {
					height: 210px;
				}
			}
			.entry-content {
				background: white;
				color: $secondary;
				font-size: 30px;
				font-weight: bold;
				display: flex;
				height: 110px;
				line-height: 1.15;
				align-items: center;
				justify-content: center;
				@media (max-width: $md) {
					height: 175px;
					flex-direction: column;
					align-items: flex-start;
					justify-content: center;
				}
				.icon {
					margin-left: 20px;
					margin-right: 0;
					width: 200px;
					@media (max-width: $lg) {
						display: none;
					}
				}
				.info {
					margin-left: 20px;
					padding-right: 20px;
					@media (max-width: $lg) {
						font-size: 24px;
					}
				}
				.slider-nav {
					display: flex;
					margin-right: 0.25em;
					@media (max-width: $md) {
						margin-top: 5px;
						margin-left: 15px;
						margin-right: 0px;
					}
					a {
						margin-right: 0.5em;
						color: $primary;
						font-size: 48px;
					}
				}
			}
		}
	}
}

.home-product-info {
	height: 700px;
	background: $primary;
	padding-top: 200px;
	margin-top: -50px;
	margin-bottom: -50px;


	.home-special-offer-background-overlay {
		position: relative;
		&:before {
			content: "";
			display: block;
			position: absolute;
			top: 50px; bottom: 50px;
			left: 0; right: 0;
			background-color: rgba(black, 0.1);
		}
	}

	.home-special-offer {
		background: $secondary;
		border-radius: 15px;
		display: flex;
		padding: 50px;
		position: relative;
		z-index: 500;

		@media (max-width: $md) {
			display: block;
			padding: 30px;
		}

		.discount-circle {
			height: 268px;
			min-width: 268px;
			border-radius: 50%;
			background: white;
			color: $secondary;
			line-height:0.9;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			display: inline-flex;
			position: relative;

			.abs-holder {
				flex-direction: column;
				justify-content: center;
				align-items: center;
				display: inline-flex;

				@media (max-width: $xl) {
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
				}
			}

			@media (max-width: $xl) {
				height: 156px;
				min-width: 156px;
			}

			@media (max-width: $md) {
				margin-bottom: 15px;
				width: 100%;
				padding-bottom: 100%;
			}

			.save {
				font-size: 48px;
				font-weight: 900;
				text-transform: uppercase;
				@media (max-width: $xl) {
					font-size: 30px;
				}
				@media (max-width: $md) {
					font-size: 48px;
				}
			}

			.percent {
				font-size: 100px;
				font-weight: 900;
				@media (max-width: $xl) {
					font-size: 48px;
				}
				@media (max-width: $md) {
					font-size: 100px;
				}
			}
		}

		.entry-content {
			padding-left: 50px;
			@media (max-width: $md) {
				padding-left: 0px;
			}
			.title {
				font-size: 36px;
				font-weight: bold;
				color: $primary;
				@media (max-width: $xl) {
					font-size: 30px;
				}
			}

			.desc {
				font-size: 24px;
				font-weight: 300;
				margin-top: 30px;
				margin-bottom: 30px;
				@media (max-width: $xl) {
					font-size: 18px;
				}
				@media (max-width: $md) {
					margin-top: 15px;
					margin-bottom: 15px;
				}
			}
		}
	}
}
